<!DOCTYPE html>
<html lang="es" >
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg320mUcww7on3RYd4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymus">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymus"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title> {% block title %}  {% endblock %} </title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>
        <div class='container'>
            <div class='row'>
                <p class='copyright text-muted'>&copy; Curso Flask 2016</p>
            </div>
        </div>
    </footer>
    
    <img src="{{ url_for('static', filename='img/fondo.jpg' )}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js' )}}">
        </script>
</body>
</html>